<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypc.dogliveshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".main.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.ui.classifyfragment.classifyactivity.ClassifyDetailActivity" />
        <activity android:name=".main.ui.headlinefragment.HeadLineWeb" />
        <activity android:name=".main.ui.mydog.MoreSettingActivity" />
        <activity android:name=".main.ui.mydog.AnchorTimeActivity" />
        <activity android:name=".main.ui.mydog.PlatFormActivity" />
        <activity android:name=".main.ui.mydog.OffLineRedioActivity" />
        <activity android:name=".main.ui.mydog.FavoriteActivity" />
        <activity android:name=".main.ui.mydog.HistoryActivity" />
        <activity android:name=".main.ui.classifyfragment.classifyactivity.ClassifyDetailActivity" />
        <activity android:name=".main.ui.headlinefragment.HeadLineWeb" />
        <activity android:name=".main.ui.homepage.PlayVideoActivity"
            android:screenOrientation="landscape" ></activity>
        <activity android:name=".main.ui.mydog.HistoryActivity"></activity>
        <activity android:name=".main.ui.classifyfragment.classifyactivity.ClassifyDetailActivity"/>
        <activity android:name=".main.ui.headlinefragment.HeadLineWeb"></activity>
        <service android:name=".main.ui.mydog.platform.DownloadService"/>
    </application>

</manifest>